@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  --background: #181d1c;
  --second-text-color: #768787;
  --border: #252525;
  --primary: #adff00;
  background-color: #000000;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.loading-wrapper span {
  left: calc(50% - 80px);
  top: 300px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 100px;
}
