@import url("https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Neue Montreal", sans-serif;
  --black: rgb(23, 23, 23);
  --primary: #cc635d;
}

.loading-wrapper span {
  left: calc(50% - 80px);
  top: 300px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-header {
  width: 1400px;
  margin: 0 auto;
}

.container {
  width: 1000px;
  margin: 0 auto;
}
